.Content{
  height: 100vh;
  width: 100vw;
  max-width: 660px;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  font-family: 'Playfair Display', serif;

  &__no-tweet{  
    margin-top: 100px;
    text-align: center;
    font-size: 24px;
    color: steelblue;
  }
  &__post{
    margin: 30px 0 80px;
    padding: 30px;
    position: relative;
    height: 600px;
    color: #2c4f54;
    background-size: cover;
    background-position: center center;
    border-radius: 3px;
    box-shadow: 0 1px 1px rgba(0,230,0,0), 0 -30px 50px -20px #B0C4DE inset;

    &__more{
      margin-top: 577px;
      
      &__list, a{
      background-color: #bce2e8;
      border-radius: 10px;
      padding: 5px;
      margin-right: 8px;
      color: whitesmoke;
      }

      &__list, a:hover {
        background-color: #00a3af	;
        transition: all .35s ease-in-out .35s;
      }
    }

    &__tags{
      color: #84b9cb;
      margin-top: 5px;
    }
    &__more, a{
      color: whitesmoke;
    }
  }
  &__name{
    font-size: 22px;
    text-align: center;
    margin-top: 30px;
    color: #00a3af;
  }
}

p, Content__post{
  position: absolute;
  left: 30px;
  right: 100px;
  bottom: 30px;
  margin: 0;
  font-size: 20px;
  z-index: 2;
  font-weight: bold;
  text-shadow: 0 0 2px #fff, 0 0 1px #fff, 0 0 1px #fff;
}

span, Content__post{
  position: absolute;
  right: 30px;
  bottom: 30px;
  font-size: 13px;
  text-shadow: 0 0 2px #000, 0 0 1px #000, 0 0 1px #000;
}

